@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;1,300;1,900&display=swap');

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'), local('MaterialIcons-Regular'),
    url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'),
    url(https://example.com/MaterialIcons-Regular.woff) format('woff'),
    url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Lato', sans-serif;
}

.page {
  margin: 0px 15px;
}

.topbar {
  background-color: #ff5a5f;
}
.topbar h1 {
  color: #ffffff;
  margin: 0;
  text-align: center;
  font-size: 1.7em;
  font-weight: 300;
}

.title {
  font-weight: 900;
  color: #484848;
  font-size: 1.4em;
}

.ranking {
  display: flex;
  overflow-x: auto;
}

.ranking section {
  height: 230px;
  margin: 0 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 10px;
  background-size: cover;
  opacity: 0.8;
}
.ranking section:hover {
  opacity: 1;
}

.ranking section h2,
.ranking section h6 {
  padding: 0;
  margin: 0;
  color: #ffffff;
}

.ranking section h2 {
  font-weight: 300;
  font-size: 1.2em;
  width: 180px;
}

.card__detail {
  border: 1px solid #cccccc;
  box-shadow: 1px 2px 2px #cccccc;
  border-radius: 10px;
  overflow: hidden;
}

.card__detail img {
  width: 100%;
}

.card__detail p {
  font-size: 1.2em;
  font-weight: 300;
  color: #767676;
  padding: 0px 10px;
}

.button {
  width: 100%;
  margin: 15px 0px;
  padding: 5px 0px;
  border: 1px solid #cccccc;
  border-radius: 5px;
  background-color: #00a699;
  color: #ffffff;
  opacity: 0.9;
  cursor: pointer;
  font-size: 1.1em;
}

.button:hover {
  opacity: 1;
  cursor: pointer;
}

.button:disabled {
  background-color: #cccccc;
  cursor: no-drop;
}

.button:focus {
  outline: none;
}

.link {
  text-decoration: none;
}

.housing {
  display: flex;
  border: 1px solid #f2f2f2;
  box-shadow: 1px 2px 2px #cccccc;
  margin: 10px 0px;
  border-radius: 8px;
  overflow: hidden;
}
.housing img {
  width: 200px;
  border-radius: 8px;
}

.housing div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10px;
}

.housing h3 {
  margin: 0px;
  font-weight: 300;
}

.housing h6 {
  margin: 0px;
}
.score {
  display: flex;
  align-items: center;
}

.score div {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
}

.score div i {
  color: #00a699;
}

.score p {
  padding: 0;
  margin: 0 10px;
}

.booking-form {
  margin: 15px 0px;
}
.booking-form div {
  border: 1px solid #cccccc;
  background: #f2f2f2;
  border-radius: 4px;
  margin: 10px 0px;
  padding: 0 10px;
}

.booking-form input {
  width: 100%;
  padding: 5px;
  font-weight: 300px;
  outline: none;
  font-size: 1em;
  background: transparent;
  border: none;
  margin: 3px 0;
  text-transform: uppercase;
  font-family: 'Lato';
  color: #767676;
}

.booking-form label {
  color: #777777;
  font-size: 0.95em;
}
