@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;1,300;1,900&display=swap');

body {
  padding: 0;
  margin: 0;
  font-family: 'Lato', sans-serif;
}

.page {
  margin: 0px 15px;
}

.topbar {
  background-color: #ff5a5f;
}
.topbar h1 {
  color: #ffffff;
  margin: 0;
  text-align: center;
  font-size: 1.7em;
  font-weight: 300;
}

.title {
  font-weight: 900;
  color: #484848;
  font-size: 1.4em;
}

.ranking {
  display: flex;
  overflow-x: auto;
}

.ranking section {
  height: 230px;
  margin: 0 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 10px;
  background-size: cover;
  opacity: 0.8;
}
.ranking section:hover {
  opacity: 1;
}

.ranking section h2,
.ranking section h6 {
  padding: 0;
  margin: 0;
  color: #ffffff;
}

.ranking section h2 {
  font-weight: 300;
  font-size: 1.2em;
  width: 180px;
}
